html {
  margin-left: 20px;
  /* box-sizing: border-box; */
}

.title {
  background-color: rgba(139, 110, 105, 0.411);
}

a[href="https://www.yahoo.com"]
{
  color: rgba(73, 23, 23, 0.548);
}

article p:nth-of-type(2) {
  color: rgba(163, 50, 50, 0.664);
}

p:hover:nth-of-type(3) {
  background-color: rgba(177, 111, 30, 0.705);
}
p:nth-of-type(0) {
  padding-top: 50px;
}

.container {
  width: 500px;
  background-color: coral;
  display: flex;
}

.item {
  height: 200px;
}

.item1 {
  background-color: pink;
  flex: 1;
}
.item2 {
  background-color: skyblue;
  flex: 2;
}
