div {
  width: calc(100% / 3);
  margin: 30px 50px 70px 10px; /*時計*/
}

.title {
  background-color: rgba(139, 110, 105, 0.411);
}

a[href="https://www.yahoo.com"]
{
  color: rgba(73, 23, 23, 0.548);
}

article p:nth-of-type(2) {
  color: rgba(163, 50, 50, 0.664);
}

p:hover:nth-of-type(3) {
  background-color: rgba(177, 111, 30, 0.705);
}
