.normal {
  background-color: chartreuse;
}
.box {
  background-color: rgba(184, 131, 93, 0.568);
  height: 200px;
  width: 200px;
  padding: 10px 30px 6px 9px;
  border: 10px solid rgba(120, 158, 194, 0.658);
  box-sizing: border-box;
}

.margin {
  background-color: coral;
  position: absolute;
}
html {
  margin-left: 20px;
}
img {
  width: 300px;
  height: 300px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #375e97;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid #375e97;
}

h2 {
  font-size: 1.5em;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}
