<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">this is header</div>
    <div class="menu">
      <a href="homepage.html">Home</a>
      <a href="aboutpage.html">about</a>
      <a href="contactpage.html">contact</a>
    </div>
    <div class="content">
      "lorem ipsum dolor sit amet"
    </div>
    <div class="footer"></div>
  </body>
</html>
